/* #countLabel {
    display: block;
    text-align: center;
    font-size: 50px;
}

#myDiv {
    background-color: lightgreen;
    width: 100px;
    height: 100px;  
} 

#innerDiv{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
}

#outerDiv{
    background-color: lightgreen;
    width: 200px;
    height: 200px;
}

#myImg {
    width: 300px;
} */

#myDiv {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
}